*{
  box-sizing: border-box;
}

table{
  margin-top: 10px;
  border: 1px solid blue;
}
#botones{
  width: 100px;
  font-family: 'Indie Flower', cursive;
}

input{
  width: 30px;

}
body{
  font-family: 'Indie Flower', cursive;
}
